.header-container {
    width: 100%;
    background: rgb(0, 64, 120);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}

.header-container > div {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.header-container * {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
}

.logo {
    border: 1px solid red;
    width: 150px;
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.search-container {
    position: relative;
}

.search {
    border: 2px solid transparent;
    padding: 5px 10px 5px 28px;
    background: rgb(0, 87, 163);
    border-radius: 10px;
    color: white;
}

.search:focus {
    outline: none;
    border: 2px solid rgb(0, 87, 163);
    background: transparent;
}

::placeholder {
    color: rgb(236, 236, 236);
    opacity: 1;
}

.search-icon {
    position: absolute;
    top: 8px;
    left: 7px;
}

.add-new-post-button {
    border: 2px solid rgb(0, 87, 163);
    border-radius: 10px;
    background: transparent;
    color: white;
    padding: 10px;
    display: flex;
    cursor: pointer;
    transition: 0.4s;
    margin-right: 20px;
}

.add-new-post-button:hover {
    background: rgb(0, 87, 163);
}

.add-icon {
    margin-right: 10px;
}

.log-out-button {
    border: 2px solid rgb(186, 62, 0);
    border-radius: 10px;
    background:  rgb(186, 62, 0);
    color: white;
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.log-out-button:hover {
    background: rgb(216, 72, 0);
    border: 2px solidrgb(216, 72, 0);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header-container {
        display: block;
    }
    .header-container > div {
        display: block;
        margin: 0;

    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
   
  }