.filter-container {
    padding: 10px;
    width: 60%;
    border: 1px solid rgb(226, 226, 226);
    display: flex;
    align-items: center;
    transition: 0.4s;
}
.filter-container img {
    margin-right: 10px;
}
.filter-container:hover {
    background: rgb(226, 226, 226);
}